snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Alpha[[:space:]]on[[:space:]]filled[[:space:]]thumb[[:space:]]with[[:space:]]normal[[:space:]]shape_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Fully[[:space:]]completed[[:space:]](max[[:space:]]stage[[:space:]]more[[:space:]]than[[:space:]]max[[:space:]]steps)_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Random[[:space:]]colors[[:space:]]Horizontal[[:space:]]RTL_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Random[[:space:]]colors[[:space:]]Vertical[[:space:]]BTT_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Non[[:space:]]null[[:space:]]state_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Fully[[:space:]]completed[[:space:]](max[[:space:]]step[[:space:]]on[[:space:]]second[[:space:]]to[[:space:]]last[[:space:]]stage)_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Fully[[:space:]]completed[[:space:]](more[[:space:]]than[[:space:]]max[[:space:]]steps[[:space:]]and[[:space:]]stages)_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Lots[[:space:]]of[[:space:]]steps[[:space:]]between[[:space:]]two[[:space:]]stages_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Fully[[:space:]]completed[[:space:]](max[[:space:]]stage)_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Null[[:space:]]State_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Random[[:space:]]colors[[:space:]]Horizontal[[:space:]]LTR_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Random[[:space:]]colors[[:space:]]Vertical[[:space:]]TTB_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_7[[:space:]]stages_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Alpha[[:space:]]on[[:space:]]filled[[:space:]]thumb[[:space:]]and[[:space:]]filled[[:space:]]track[[:space:]]with[[:space:]]normal[[:space:]]shape_.png filter=lfs diff=lfs merge=lfs -text
snapshot-test/src/test/snapshots/images/com.loukwn.snapshot_test_ViewTests_Default[[:space:]]configuration_.png filter=lfs diff=lfs merge=lfs -text
